body{ 
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
p{
    color: tomato;
}
.half-width{
width: 40%;
float:left;
margin-left: 5%;
padding-left: 2%;
}
.red-highlight{
color: tomato;
}
.half-width img{
    width: 60%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height:400px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,red);
    border-radius:5px ;
    padding:10px 20px;
    color:black;
    font-weight: 700px;

}
.dream{
    background-image: url("image/dream-bg.png");
    background-repeat: none;
    background-position:right ;
}
.boxes{
    width: 80%;
    margin:auto
}
.box{
    border: 1px solid white;
margin: 5px;
border-radius: 10px;
float: right;
    display: inline-block;

}
.box img{
border: 1px solid white;
margin: 5px;
border-radius: 10px;
    width: 20%;
    height:30%;
    float: right;
    display: inline-block;

}
.pic1 img{
    width:80%;
    margin-left: 5%;
padding-left: 2%;
}


    #bor{
        border:1px solid purple;
        border-radius: 50px;
        margin: px10 20px;
        padding: 10px;
        width: 30%;
        display: inline-block;
        background-color: seashell;
        font-style: italic;
        text-align:center;
    }
    #ex{
text-align: left;

    }
    center img{
        width: 80%git;
    }
    .work-inquiry{
        margin-top: 60px;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        position: relative;
        width: 35%;
        margin: 0 auto;
      }
    .container img {
        width: 100%;
        height: auto;
        text-align: center;
      }
    .container .btn {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: red;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }

