body{ 
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
p{
    color: tomato;
}
.half-width{
width: 40%;
float:left;
margin-left: 5%;
padding-left: 2%;
}
.red-highlight{
color: tomato;
}
.half-width img{
    width: 60%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
    height: 400px;
    padding-bottom: 50px;
}
section{
    height:400px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon,red);
    border-radius:5px ;
    padding:10px 20px;
    color:black;
    font-weight: 700px;

}
.boxes{
    padding-bottom: 15%;
    background-color: seashell;
    weight:100% ;
    height: 300px;
}
.box{
    width: 80%;
    border: 1px solid white;
margin: auto;
border-radius: 10px;
    display: inline-block;

}
.image{ 
    border-radius: 5px;
    background-color: snow;
    height: 60%;
    width: 20%;
    padding: 10px;
    margin: 70px;
    float: left;

}
.image img{
    width:100%;
    margin-left: 10%;
padding-left: 5%;
}
#project{
    text-align: center;
    width: 100%;
}
    .work-inquiry{
        margin-top: 60px;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        position: relative;
        width: 35%;
        margin: 0 auto;
      }
    .container img {
        width: 100%;
        height: auto;
        text-align: center;
      }
    .container .btn {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: red;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      .new{
          border: steelblue;
          border-radius: 10px;
        text-align: center;

      }
      .new h3{
          font-size: 50px;
      }
      #use{
          padding-bottom: 10px;
      }

